@{
    ViewData["Title"] = "My Flights";
}


<div class="card col-8 searchResults userResultsCard">
    <div class="card-head"><h1>My Flights</h1></div>
    <div class="card-body" id="user-results">
        <div><a type="button" class="btn btn-primary text-white" asp-area="" asp-controller="Home" asp-action="Index">Find New Flights</a></div>
    </div>
</div>